@model BooksListViewModel

@{
	ViewData["Title"] = "Home Page";
}

<a class="text-end btn btn-warning" asp-controller="Home" asp-action="Add">Add new book</a>
@if (Model.Books != null && Model.Books.Any())
{
	<div class="row mt-5">
		@foreach (var book in Model.Books)
		{
			<div class="card col-3">
				<img src=@book.URL_Image class="card-img-top" style="height: 30em">
				<div class="card-body">
					<h5 class="card-title">@book.Title</h5>
					<p class="card-text">@book.Author</p>
					<p class="card-text">@book.Genre</p>
					<a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id=@book.Id>Details</a>
				</div>
			</div>
		}
	</div>
}
else
{
	<p class="text-danger text-center">No books found</p>
}