@model BooksListViewModel

@{
	ViewData["Title"] = "Home Page";
}

@if (Model.Books != null && Model.Books.Any())
{
	<div class="row">
		@foreach (var book in Model.Books)
		{
			<div class="card col-3">
				<img src=@book.URL_Image class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">@book.Title</h5>
					<p class="card-text">@book.Author</p>
					<p class="card-text">@book.Genre</p>
				</div>
			</div>
		}
	</div>
}
else
{
	<p class="text-danger text-center">No books found</p>
}