@model BooksListViewModel

@{
	ViewData["Title"] = "Home Page";
}

@if (Model.Books != null && Model.Books.Any())
{
	<div>
		@foreach (var book in Model.Books)
		{
			<div>
				<img src=@book.URL_Image style="width: 20em" />
				<p>@book.Title</p>
				<p class="text-muted">@book.Author</p>
				<p>@book.Genre</p>
			</div>
		}
	</div>
}
else
{
	<p class="text-danger text-center">No books found</p>
}